<h4>Clientes: </h4>
<hr>
<table class="table table-striped mt-4">    
    <tr>
        <td>Código</td>
        <td>Nome</td>
        <td>Documento</td>
        <td>Profissão</td>
        <td colspan="2">Ação</td>
    </tr>
    {{#clientes}}
    <tr>
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>{{documento}}</td>
        <td>{{profissao}}</td>
        <td><a href="/api/clientes/update/{{id}}"><img src="/images/edit.png"></a></td>
        <td><a href="/api/clientes/deletar/{{id}}" class="deletar"><img src="/images/delete.png" method="delete"></a>
        </td>
    </tr>
    {{/clientes}}
</table>
<a href="/api/novoCliente" class="btn btn-primary">Novo cliente</a>
<a href="../" class="btn btn-secondary">Voltar</a>